:root {
    --DeepLake:   #00656B;
    --GoldenRod:  #E2A829;
    --Moth:       #D2CBAF;
    --OliveNight: #535040;
    --Black:      #2D2926;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

a {
    color: var(--DeepLake);
    text-decoration: none;
}

a:hover {
    color: var(--GoldenRod);
    text-decoration: underline;
}

a:visited {
    color: var(--DeepLake);
}

.content {
    flex: 1;
    padding: 10px;
}

h1, h2 {
    color: var(--OliveNight);
}

p {
    color: var(--OliveNight);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid var(--Moth); /* Use var(--Moth) for border color */
    padding: 8px;
}

ul, ul li {
    color: var(--OliveNight);
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: var(--DeepLake);
    text-decoration: none;
}

ul li a:hover {
    color: var(--GoldenRod);
    text-decoration: underline;
}

.site-title {
    border-bottom: 1px solid var(--Moth);
    color: var(--Moth);
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.sidebar {
    width: 290px;
    background-color: var(--DeepLake);
    padding: 5px;
}

.sidebar h1, 
.sidebar h2, 
.sidebar h3, 
.sidebar h4, 
.sidebar h5, 
.sidebar h6, 
.sidebar p, 
.sidebar li {
    color: var(--Moth);
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    color: var(--Moth);
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: var(--GoldenRod);
    text-decoration: underline;
}

.sidebar-info {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--Moth);
    padding-bottom: 10px;
}

.sidebar-info p {
    color: var(--Moth);
    margin: 5px 0;
    font-size: 0.9em;
}

.sidebar-info .icon-link {
    color: var(--Moth);
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.sidebar-info .icon-link:hover {
    color: var(--GoldenRod);
    text-decoration: underline;
}
