<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Woolfrey's GitHub Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  </head>
  <body>
    <div class="sidebar">
      <div class="site-title">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
      </div>
      <div class="sidebar-info">
        <p>{{ site.sidebar_info.job_title }}</p>
        <p><a href="mailto:{{ site.sidebar_info.email }}">{{ site.sidebar_info.email }}</a></p>
        <p><a href="{{ site.sidebar_info.linkedin }}">LinkedIn</a></p>
        <p><a href="{{ site.sidebar_info.github }}">GitHub</a></p>
      </div>
      <ul>
        {% for link in site.sidebar %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
